/*flag*/
.flag span {
  display: inline-block;
  width: 27px;
  height: 16px;
  background-image: url(~/src/assets/images/flag.jpg);
  background-repeat: no-repeat;
  margin: 0 5px;
  background-position: -29px -613px;
  vertical-align: -3px;
}
.x-grid-row {
  height: 34px;
  overflow: auto;
}
.flag .flag_ad {
  background-position: 0px 0px;
}
.flag .flag_af {
  background-position: -29px 0px;
}
.flag .flag_ag {
  background-position: -58px 0px;
}
.flag .flag_ai {
  background-position: -87px 0px;
}
.flag .flag_al {
  background-position: -116px 0px;
}
.flag .flag_alq {
  background-position: -145px 0px;
}
.flag .flag_am {
  background-position: -174px 0px;
}
.flag .flag_an {
  background-position: 0px -19px;
}
.flag .flag_ao {
  background-position: -29px -19px;
}
.flag .flag_ar {
  background-position: -58px -19px;
}
.flag .flag_as {
  background-position: -87px -19px;
}
.flag .flag_at {
  background-position: -116px -19px;
}
.flag .flag_au {
  background-position: -145px -19px;
}
.flag .flag_aw {
  background-position: -174px -19px;
}
.flag .flag_az {
  background-position: 0px -37px;
}
.flag .flag_ba {
  background-position: -29px -37px;
}
.flag .flag_bb {
  background-position: -58px -37px;
}
.flag .flag_be {
  background-position: -87px -37px;
}
.flag .flag_bf {
  background-position: -116px -37px;
}
.flag .flag_bg {
  background-position: -145px -37px;
}
.flag .flag_bh {
  background-position: -174px -37px;
}
.flag .flag_bi {
  background-position: 0px -56px;
}
.flag .flag_bj {
  background-position: -29px -56px;
}
.flag .flag_bm {
  background-position: -58px -56px;
}
.flag .flag_bn {
  background-position: -87px -56px;
}
.flag .flag_bo {
  background-position: -116px -56px;
}
.flag .flag_boh {
  background-position: -145px -56px;
}
.flag .flag_br {
  background-position: -174px -56px;
}
.flag .flag_bs {
  background-position: 0px -74px;
}
.flag .flag_bt {
  background-position: -29px -74px;
}
.flag .flag_bw {
  background-position: -58px -74px;
}
.flag .flag_by {
  background-position: -87px -74px;
}
.flag .flag_bz {
  background-position: -116px -74px;
}
.flag .flag_ca {
  background-position: -145px -74px;
}
.flag .flag_cd {
  background-position: -174px -74px;
}
.flag .flag_cg {
  background-position: 0px -93px;
}
.flag .flag_ch {
  background-position: -29px -93px;
}
.flag .flag_ci {
  background-position: -58px -93px;
}
.flag .flag_ck {
  background-position: -87px -93px;
}
.flag .flag_cl {
  background-position: -116px -93px;
}
.flag .flag_cm {
  background-position: -145px -93px;
}
.flag .flag_cn {
  background-position: -174px -93px;
}
.flag .flag_co {
  background-position: 0px -112px;
}
.flag .flag_cr {
  background-position: -29px -112px;
}
.flag .flag_cu {
  background-position: -58px -112px;
}
.flag .flag_cv {
  background-position: -87px -112px;
}
.flag .flag_cy {
  background-position: -116px -112px;
}
.flag .flag_de {
  background-position: -145px -112px;
}
.flag .flag_dj {
  background-position: -174px -112px;
}
.flag .flag_dk {
  background-position: 0px -130px;
}
.flag .flag_dm {
  background-position: -29px -130px;
}
.flag .flag_dmnk {
  background-position: -58px -130px;
}
.flag .flag_dz {
  background-position: -87px -130px;
}
.flag .flag_ec {
  background-position: -116px -130px;
}
.flag .flag_ee {
  background-position: -145px -130px;
}
.flag .flag_eg {
  background-position: -174px -130px;
}
.flag .flag_egl {
  background-position: 0px -149px;
}
.flag .flag_eo {
  background-position: -29px -149px;
}
.flag .flag_er {
  background-position: -58px -149px;
}
.flag .flag_es {
  background-position: -87px -149px;
}
.flag .flag_esy {
  background-position: -116px -149px;
}
.flag .flag_et {
  background-position: -145px -149px;
}
.flag .flag_fi {
  background-position: -174px -149px;
}
.flag .flag_fj {
  background-position: 0px -167px;
}
.flag .flag_fm {
  background-position: -29px -167px;
}
.flag .flag_fo {
  background-position: -58px -167px;
}
.flag .flag_fr {
  background-position: -87px -167px;
}
.flag .flag_ga {
  background-position: -116px -167px;
}
.flag .flag_gd {
  background-position: -145px -167px;
}
.flag .flag_ge {
  background-position: -174px -167px;
}
.flag .flag_gf {
  background-position: 0px -186px;
}
.flag .flag_gh {
  background-position: -29px -186px;
}
.flag .flag_gi {
  background-position: -58px -186px;
}
.flag .flag_gl {
  background-position: -87px -186px;
}
.flag .flag_gm {
  background-position: -116px -186px;
}
.flag .flag_gn {
  background-position: -145px -186px;
}
.flag .flag_gp {
  background-position: -174px -186px;
}
.flag .flag_gq {
  background-position: 0px -204px;
}
.flag .flag_gr {
  background-position: -29px -204px;
}
.flag .flag_gt {
  background-position: -58px -204px;
}
.flag .flag_gu {
  background-position: -87px -204px;
}
.flag .flag_gw {
  background-position: -116px -204px;
}
.flag .flag_gxd {
  background-position: -145px -204px;
}
.flag .flag_gy {
  background-position: -174px -204px;
}
.flag .flag_hn {
  background-position: 0px -223px;
}
.flag .flag_hr {
  background-position: -29px -223px;
}
.flag .flag_ht {
  background-position: -58px -223px;
}
.flag .flag_hu {
  background-position: -87px -223px;
}
.flag .flag_id {
  background-position: -116px -223px;
}
.flag .flag_ie {
  background-position: -145px -223px;
}
.flag .flag_il {
  background-position: -174px -223px;
}
.flag .flag_im {
  background-position: 0px -242px;
}
.flag .flag_in {
  background-position: -29px -242px;
}
.flag .flag_iq {
  background-position: -58px -242px;
}
.flag .flag_ir {
  background-position: -87px -242px;
}
.flag .flag_is {
  background-position: -116px -242px;
}
.flag .flag_it {
  background-position: -145px -242px;
}
.flag .flag_je {
  background-position: -174px -242px;
}
.flag .flag_jk {
  background-position: 0px -260px;
}
.flag .flag_cz {
  background-position: 0px -260px;
}
.flag .flag_jm {
  background-position: -29px -260px;
}
.flag .flag_jo {
  background-position: -58px -260px;
}
.flag .flag_jp {
  background-position: -87px -260px;
}
.flag .flag_ke {
  background-position: -116px -260px;
}
.flag .flag_kg {
  background-position: -145px -260px;
}
.flag .flag_kh {
  background-position: -174px -260px;
}
.flag .flag_ki {
  background-position: 0px -279px;
}
.flag .flag_km {
  background-position: -29px -279px;
}
.flag .flag_kn {
  background-position: -58px -279px;
}
.flag .flag_kp {
  background-position: -87px -279px;
}
.flag .flag_kr {
  background-position: -116px -279px;
}
.flag .flag_kw {
  background-position: -145px -279px;
}
.flag .flag_ky {
  background-position: -174px -279px;
}
.flag .flag_kz {
  background-position: 0px -297px;
}
.flag .flag_la {
  background-position: -29px -297px;
}
.flag .flag_lb {
  background-position: -58px -297px;
}
.flag .flag_lc {
  background-position: -87px -297px;
}
.flag .flag_li {
  background-position: -116px -297px;
}
.flag .flag_lies {
  background-position: -145px -297px;
}
.flag .flag_lk {
  background-position: -174px -297px;
}
.flag .flag_lr {
  background-position: 0px -316px;
}
.flag .flag_ls {
  background-position: -29px -316px;
}
.flag .flag_lt {
  background-position: -58px -316px;
}
.flag .flag_lu {
  background-position: -87px -316px;
}
.flag .flag_lv {
  background-position: -116px -316px;
}
.flag .flag_ly {
  background-position: -145px -316px;
}
.flag .flag_ma {
  background-position: -174px -316px;
}
.flag .flag_mad {
  background-position: 0px -335px;
}
.flag .flag_mc {
  background-position: -29px -335px;
}
.flag .flag_md {
  background-position: -58px -335px;
}
.flag .flag_me {
  background-position: -87px -335px;
}
.flag .flag_mg {
  background-position: -116px -335px;
}
.flag .flag_mgl {
  background-position: -145px -335px;
}
.flag .flag_bd {
  background-position: -145px -335px;
}
.flag .flag_mh {
  background-position: -174px -335px;
}
.flag .flag_mk {
  background-position: 0px -353px;
}
.flag .flag_ml {
  background-position: -29px -353px;
}
.flag .flag_mm {
  background-position: -58px -353px;
}
.flag .flag_mn {
  background-position: -87px -353px;
}
.flag .flag_mp {
  background-position: -116px -353px;
}
.flag .flag_mr {
  background-position: -145px -353px;
}
.flag .flag_ms {
  background-position: -174px -353px;
}
.flag .flag_mt {
  background-position: 0px -372px;
}
.flag .flag_mtnk {
  background-position: -29px -372px;
}
.flag .flag_mu {
  background-position: -58px -372px;
}
.flag .flag_mv {
  background-position: -87px -372px;
}
.flag .flag_mw {
  background-position: -116px -372px;
}
.flag .flag_mx {
  background-position: -145px -372px;
}
.flag .flag_my {
  background-position: -174px -372px;
}
.flag .flag_mz {
  background-position: 0px -390px;
}
.flag .flag_na {
  background-position: -29px -390px;
}
.flag .flag_nc {
  background-position: -58px -390px;
}
.flag .flag_ne {
  background-position: -87px -390px;
}
.flag .flag_nf {
  background-position: -116px -390px;
}
.flag .flag_ng {
  background-position: -145px -390px;
}
.flag .flag_ni {
  background-position: -174px -390px;
}
.flag .flag_nl {
  background-position: 0px -409px;
}
.flag .flag_no {
  background-position: -29px -409px;
}
.flag .flag_np {
  background-position: -58px -409px;
}
.flag .flag_nr {
  background-position: -87px -409px;
}
.flag .flag_nz {
  background-position: -116px -409px;
}
.flag .flag_om {
  background-position: -145px -409px;
}
.flag .flag_pa {
  background-position: -174px -409px;
}
.flag .flag_pe {
  background-position: 0px -428px;
}
.flag .flag_pf {
  background-position: -29px -428px;
}
.flag .flag_pg {
  background-position: -58px -428px;
}
.flag .flag_ph {
  background-position: -87px -428px;
}
.flag .flag_pk {
  background-position: -116px -428px;
}
.flag .flag_pl {
  background-position: -145px -428px;
}
.flag .flag_pr {
  background-position: -174px -428px;
}
.flag .flag_ps {
  background-position: 0px -446px;
}
.flag .flag_pt {
  background-position: -29px -446px;
}
.flag .flag_pw {
  background-position: -58px -446px;
}
.flag .flag_py {
  background-position: -87px -446px;
}
.flag .flag_qa {
  background-position: -116px -446px;
}
.flag .flag_re {
  background-position: -145px -446px;
}
.flag .flag_ro {
  background-position: -174px -446px;
}
.flag .flag_ru {
  background-position: 0px -465px;
}
.flag .flag_rw {
  background-position: -29px -465px;
}
.flag .flag_sa {
  background-position: -58px -465px;
}
.flag .flag_sb {
  background-position: -87px -465px;
}
.flag .flag_sc {
  background-position: -116px -465px;
}
.flag .flag_sd {
  background-position: -145px -465px;
}
.flag .flag_se {
  background-position: -174px -465px;
}
.flag .flag_sg {
  background-position: 0px -483px;
}
.flag .flag_si {
  background-position: -29px -483px;
}
.flag .flag_sk {
  background-position: -58px -483px;
}
.flag .flag_sl {
  background-position: -87px -483px;
}
.flag .flag_sm {
  background-position: -116px -483px;
}
.flag .flag_sn {
  background-position: -145px -483px;
}
.flag .flag_so {
  background-position: -174px -483px;
}
.flag .flag_spa {
  background-position: 0px -502px;
}
.flag .flag_sr {
  background-position: -29px -502px;
}
.flag .flag_ss {
  background-position: -58px -502px;
}
.flag .flag_st {
  background-position: -87px -502px;
}
.flag .flag_sv {
  background-position: -116px -502px;
}
.flag .flag_sy {
  background-position: -145px -502px;
}
.flag .flag_sz {
  background-position: -174px -502px;
}
.flag .flag_tc {
  background-position: 0px -521px;
}
.flag .flag_td {
  background-position: -29px -521px;
}
.flag .flag_tg {
  background-position: -58px -521px;
}
.flag .flag_th {
  background-position: -87px -521px;
}
.flag .flag_tj {
  background-position: -116px -521px;
}
.flag .flag_tk {
  background-position: -145px -521px;
}
.flag .flag_tl {
  background-position: -174px -521px;
}
.flag .flag_tm {
  background-position: 0px -539px;
}
.flag .flag_tn {
  background-position: -29px -539px;
}
.flag .flag_to {
  background-position: -58px -539px;
}
.flag .flag_tr {
  background-position: -87px -539px;
}
.flag .flag_tt {
  background-position: -116px -539px;
}
.flag .flag_tv {
  background-position: -145px -539px;
}
.flag .flag_tz {
  background-position: -174px -539px;
}
.flag .flag_ua {
  background-position: 0px -558px;
}
.flag .flag_ug {
  background-position: -29px -558px;
}
.flag .flag_uk {
  background-position: -58px -558px;
}
.flag .flag_gb {
  background-position: -58px -558px;
}
.flag .flag_un {
  background-position: -87px -558px;
}
.flag .flag_us {
  background-position: -116px -558px;
}
.flag .flag_uy {
  background-position: -145px -558px;
}
.flag .flag_uz {
  background-position: -174px -558px;
}
.flag .flag_va {
  background-position: 0px -576px;
}
.flag .flag_vc {
  background-position: -29px -576px;
}
.flag .flag_ve {
  background-position: -58px -576px;
}
.flag .flag_vg {
  background-position: -87px -576px;
}
.flag .flag_vi {
  background-position: -116px -576px;
}
.flag .flag_vn {
  background-position: -145px -576px;
}
.flag .flag_vu {
  background-position: -174px -576px;
}
.flag .flag_wls {
  background-position: 0px -595px;
}
.flag .flag_ws {
  background-position: -29px -595px;
}
.flag .flag_ye {
  background-position: -58px -595px;
}
.flag .flag_yu {
  background-position: -87px -595px;
}
.flag .flag_za {
  background-position: -116px -595px;
}
.flag .flag_zf {
  background-position: -145px -595px;
}
.flag .flag_zm {
  background-position: -174px -595px;
}
.flag .flag_zw {
  background-position: 0px -613px;
}
.flag .flag_bl {
  background-position: -29px -613px;
}
.flag .flag_unknown {
  background-position: -29px -613px;
}
.flag .flag_null {
  background-position: -29px -613px;
}
.flag .flag_xx {
  background-position: -29px -613px;
}
.flag .flag_kl {
  background-position: -29px -613px;
}
.flag .flag_vdl {
  background-position: -29px -613px;
}
.flag .flag_yt {
  background-position: -29px -613px;
}
.flag .flag_00 {
  background-position: -58px -613px;
}
.flag .flag_local {
  background-position: -58px -613px;
}
.flag .flag_hk {
  background-position: -87px -613px;
}
.flag .flag_mo {
  background-position: -116px -613px;
}
.flag .flag_tw {
  background-position: -145px -613px;
}
.flag .flag_na0 {
  background-position: -173px -613px;
}
.flag .flag_ae {
  background-position: -29px -632px;
}
